<!-- bookings/templates/bookings/edit_booking.html -->
{% extends 'base.html' %}
{% block template %}

<h3>Edit Booking</h3>
<form method="post" action="{% url 'edit_booking' booking_id=form.instance.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
    <button type="button" onclick="confirmCancel()">Cancel Booking</button>
    </form>
        
<script>
    function confirmCancel() {
        if (confirm("Are you sure you want to cancel this booking?")) {
            window.location.href = "{% url 'cancel_booking' booking_id=existing_booking.id %}";}
            }
</script>

{% endblock %}
