{% extends "base.html" %}
{% block template %}

<div id="about-main>"
<h1>About Ocean Breeze Bistro</h1>

<span>
<h3>Welcome to Ocean Breeze Bistro</h3> 
<p>Where the allure of the ocean meets the charm of delectable modern cuisine. Nestled on
the shores of a beach that whispers tales of history, our restaurant boasts a unique blend of flavors, ambiance, and a
touch of seaside elegance.</p>
</span>

<span>
<h3>Our Storyy</h3>
<p>Ocean Breeze Bistro has a rich history that adds to the unique character of our establishment. Once the private beach
estate of a former president, our building has witnessed decades of stories unfold against the backdrop of the
sun-kissed waves. Today, we have transformed this historical gem into a haven for those seeking an unforgettable dining
experience.</p>
</span>

<span>
<h3>A Culinary Journey</h3>
<p>Our culinary team takes inspiration from the ocean that gracefully unfolds before us. The menu at Ocean Breeze Bistro is
a celebration of coastal cuisine with a modern twist. From succulent seafood to garden-fresh produce, each dish is
meticulously crafted to bring you a symphony of flavors that dance on your palate.</p>
</span>

<span>
<h3>Dining with a View</h3>
Immerse yourself in the breathtaking beauty of the ocean as you dine in our thoughtfully designed indoor dining room or
choose to be caressed by the sea breeze in our outdoor dining area. Our outdoor seating, facing the ocean and the
captivating sundown, offers a mesmerizing backdrop that elevates every meal into a sensory experience.
</span>

<span>
<h3>Our Commitment</h3>
<p>Ocean Breeze Bistro, we are committed to providing a warm and welcoming atmosphere for our guests. Whether you're
here for a casual lunch, a romantic dinner, or a special celebration, our attentive staff is dedicated to ensuring your
dining experience is nothing short of exceptional.
</span>

<span>
    <h3>Join Us</h3>
    <p>Come and be part of the Ocean Breeze Bistro family, where history, sea, and culinary artistry converge to create moments
that linger in your memory. We invite you to savor the flavors, embrace the history, and indulge in the panoramic views
that make dining with us a truly unforgettable experience.</p>

Ocean Breeze Bistro – where every meal is a celebration of the sea, history, and the joy of good company.


{% endblock %}

</div>