{% extends "base.html" %}
{% block template %}

<div class="container text-center mt-5 contact-background">
    <div class="row">
        <div class="col-lg-12">
            <h3>Join Us</h3>
            <p>Come and be part of the Ocean Breeze Bistro family, where history, sea, and culinary artistry converge to
                create moments that linger in your memory. We invite you to savor the flavors, embrace the history, and
                indulge in the panoramic views that make dining with us a truly unforgettable experience.</p>
        </div>
    </div>
</div>


<div id="contact-main" class="row contact-background">
    <div class="col-lg-6 col-md-6 contact-background">
        <!-- Google Maps iframe -->
        <iframe
            width="100%"
            height="400"
            frameborder="0"
            style="border: 0"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.151926634292!2d-73.5532857!3d45.5070202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a56f2efc75b%3A0x11ba15b47de91e2f!2sBevo%20Bar%20%2B%20Pizzeria!5e0!3m2!1sen!2sse!4v1693342120698!5m2!1sen!2sse"
            allowfullscreen
        ></iframe>
    </div>
    
    <div class="col-lg-6 col-md-6 contact-background">
        <!-- Opening Hours Table -->
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Opening Hours</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>11:00 AM - 9:00 PM</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>11:00 AM - 9:00 PM</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>11:00 AM - 9:00 PM</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>11:00 AM - 9:00 PM</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>11:00 AM - 10:00 PM</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>12:00 PM - 10:00 PM</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td>Closed</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}